<div [ngStyle]="{'display':displayStyle}" class="sidenav bg-base-100">
    <div class="icon-btn-container">
      <app-icon-button button="Friends" [sidebarType]="SidebarType.Friend">
        <i class="fa-solid fa-user-group"></i>
      </app-icon-button>
      <app-icon-button button="Browse" [sidebarType]="SidebarType.Event">
        <i class="fa-solid fa-calendar-days"></i>
      </app-icon-button>
    </div>

    <div class="group-btn-container">
        <hr>
        <!-- browse groups -->
        <app-group-button [infoType]="groupType"></app-group-button>

        <!-- group memberships -->
        <div class="group-btn" *ngFor="let group of userOwnedGroups">
            <app-group-button [group]="group" [infoType]="membershipType"></app-group-button>
        </div>
        <div class="group-btn" *ngFor="let group of userFollowedGroups">
          <app-group-button [group]="group" [infoType]="membershipType"></app-group-button>
      </div>

    </div>

</div>

