<div class="card bg-base-100">
  <!-- Event image goes here -->
  <div class="temp-img"></div>
  <h1 class="group-name"> {{ groupName }} </h1>
  <p class="group-description"> {{ groupDescription }} </p>

  <div class="join" *ngIf="!isInGroup; else showJoinedButton">
    <button class="join-btn bg-success text-neutral" (click)="joinGroup()">JOIN</button>
  </div>
  <ng-template #showJoinedButton>
    <button class="joined-btn bg-neutral"><i class="fa-regular fa-circle-check"></i> JOINED</button>
  </ng-template>
</div>
