<div class="sidenav">
    <div class="icon-btn-container" *ngFor="let button of buttonFields">
        <app-icon-button [button]="button"></app-icon-button>
    </div>
    
    <div class="group-btn-container">
        <hr>
        <!-- browse groups -->
        <app-group-button [infoType]="groupType"></app-group-button>

        <!-- group memberships -->
        <div class="group-btn" *ngFor="let membership of groupMemberships">
            <app-group-button [groupMembership]="membership" [infoType]="membershipType"></app-group-button>
        </div>

    </div>

</div>

