<div *ngIf="sidebarVisibility" [ngSwitch]="sidebarType" class="info-sidebar scrollable">
  <app-event-sidebar *ngSwitchCase="SidebarType.Event"></app-event-sidebar>
  <app-event-sidebar *ngSwitchCase="SidebarType.MyEvents"></app-event-sidebar>
  <app-event-sidebar *ngSwitchCase="SidebarType.SavedEvents"></app-event-sidebar>
  <app-group-sidebar *ngSwitchCase="SidebarType.Group"></app-group-sidebar>

  <!--    <div class="friendship-info-card-container" *ngIf="infoType == 'Friends'">-->
<!--        <div class="header">-->
<!--           <h1>Friends</h1> -->
<!--           <button (click)="createFriendship()"><i class="fa-solid fa-plus fa-2x"></i></button>-->
<!--        </div>-->
<!--        -->
<!--        <div class="info-card" *ngFor="let friend of acceptedFriendships">-->
<!--            <app-friend-info [friend]="friend"></app-friend-info>-->
<!--        </div>-->
<!--        -->
<!--        <div class="pending" *ngIf="shouldShowPendingFriendships">-->
<!--            <div class="header">-->
<!--                <h1>Pending</h1>-->
<!--            </div>-->
<!--            <div class="info-card" *ngFor="let friend of pendingFriendships">-->
<!--                <app-friend-info [friend]="friend"></app-friend-info>-->
<!--            </div> -->
<!--        </div>-->
<!--        -->
<!--        <div class="blocked" *ngIf="shouldShowBlockedFriendships">-->
<!--           <div class="header">-->
<!--            <h1>Blocked</h1>-->
<!--        </div>-->
<!--            <div class="info-card" *ngFor="let friend of blockedFriendships">-->
<!--                <app-friend-info [friend]="friend"></app-friend-info>-->
<!--            </div> -->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; TODO: Update to load the saved events if infotype is Saves &ndash;&gt;-->
<!--    <div class="info-card-container" *ngIf="infoType == 'Browse' || infoType == 'Saved'">-->
<!--        <div class="header">-->
<!--            <h1>Events</h1>-->
<!--            <button (click)="createEvent()"><i class="fa-solid fa-plus fa-2x"></i></button>-->
<!--        </div>-->
<!--        -->
<!--        <div class="info-card" *ngFor="let event of events">-->
<!--            <app-event-info [event]="event"></app-event-info>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="group-membership-card-container" *ngIf="infoType == 'Membership'">-->
<!--        <div class="header">-->
<!--            <h1>Group</h1>-->
<!--        </div>-->
<!--        <app-membership-info [groupMembership]="groupMembership"></app-membership-info>-->
<!--    </div>-->

<!--    <div class="group-card-container" *ngIf="infoType == 'Group'">-->
<!--        <div class="header">-->
<!--            <h1>Groups</h1>-->
<!--            <button (click)="createGroup()"><i class="fa-solid fa-plus fa-2x"></i></button>-->
<!--        </div>-->
<!--        <div class="info-card" *ngFor="let group of groups">-->
<!--            <app-group-info [group]="group"></app-group-info>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="group-membership-card-container" *ngIf="infoType == 'Membership'">-->
<!--        <div class="header">-->
<!--            <h1>Group</h1>-->
<!--        </div>-->
<!--        <app-membership-info [groupMembership]="groupMembership"></app-membership-info>-->
<!--    </div>-->

<!--    <div class="group-card-container" *ngIf="infoType == 'Group'">-->
<!--        <div class="header">-->
<!--            <h1>Groups</h1>-->
<!--            <button (click)="createGroup()"><i class="fa-solid fa-plus fa-2x"></i></button>-->

<!--        </div>-->
<!--        <div role="tablist" class="tabs tabs-lifted">-->
<!--            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="My Groups" />-->
<!--            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">-->
<!--                My Groups-->
<!--                <div class="info-card" *ngFor="let group of groups">-->
<!--                    <app-group-info [group]="group"></app-group-info>-->
<!--                </div>-->

<!--            </div>-->

<!--            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Following" checked />-->
<!--            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">-->
<!--                Following-->

<!--            </div>-->

<!--            <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="Search" />-->
<!--            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">-->
<!--                Search-->

<!--            </div>-->
<!--          </div>-->


<!--    </div>-->
</div>
