.info-sidebar {
  @apply h-full absolute top-0 left-[80px] bg-primary p-8 w-fit min-w-[630px] flex justify-center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.scrollable {
  @apply h-full overflow-y-scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollable::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

.header {
  @apply bg-gray-800;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header button {
  margin-left: auto;
}
