<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="user-icon">
    <img
      alt="Tailwind CSS Navbar component"
      src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
      class="rounded-full"
    />
  </div>
  <ul
    tabindex="0"
    class="z-[1] shadow menu menu-sm dropdown-content rounded-box w-52"
  >
    <li>
      <button class="btn relative">
        Profile
        <span class="badge absolute right-0">New</span>
      </button>
    </li>
    <li><button class="btn">Settings</button></li>
    <li><button class="btn" (click)="logout()">Logout</button></li>
  </ul>
</div>
