.card {
    width: 400px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.card-container {
    display: flex; 
    align-items: center;
}

.card-container h1 {
    font-size: 20px;
    font-weight: 500;
}

.card-container button {
    margin-left: auto;
}