/* .btn-container {
    text-align: center;
} */

.group-btn {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* .btn-name {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
} */