<div class="card">
    <!-- Event image goes here -->
    <div class="temp-img"></div>
    <h1 class="group-name"> {{ groupName }} </h1>
    <p class="group-description"> {{ groupDescription }} </p>

    <div class="join" *ngIf="!isInGroup; else showJoinedButton">
        <button class="join-btn" (click)="joinGroup()">JOIN</button>
    </div>
    <ng-template #showJoinedButton>
        <button class="joined-btn"><i class="fa-regular fa-circle-check"></i> JOINED</button>
    </ng-template>

    
</div>