.card {
    width: 400px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.card-container {
    display: flex; 
    align-items: center;
}

.card-container h1 {
    font-size: 20px;
    font-weight: 500;
}

.card-container button {
    margin-left: auto;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.button-container {
    margin-left: auto; 
}

.incoming-req-btns {
    margin-left: 10px;
}