<div class="event-creation-modal">
  <h1 class="text-3xl font-bold p-4">Create Event</h1>
  <form #myForm="ngForm" class="create-event-form">
    <div>
      <input class="input w-full" placeholder="Event name:" [(ngModel)]="eventData.name" name="eventName">
    </div>
    <div>
      <input class="input w-full" placeholder="Event address:" [(ngModel)]="eventData.address" name="eventAddress">
    </div>
    <div class="flex gap-2">
      <label class="input-label">
        <input [matDatepicker]="startTimePicker" placeholder="Start date:" [(ngModel)]="startDate" name="startDate">
        <mat-datepicker-toggle class="hover:scale-125" [for]="startTimePicker"></mat-datepicker-toggle>
        <mat-datepicker #startTimePicker></mat-datepicker>
      </label>
      <label class="input-label">
        <input placeholder="Start time:" [(ngModel)]="startTime" name="startTime">
        <mat-icon class="hover:cursor-pointer hover:scale-125 hover:bg-base-200" [ngxTimepicker]="startHourPicker" [(ngModel)]="startTime" name="startTimeToggle">access_time</mat-icon>

        <ngx-material-timepicker #startHourPicker></ngx-material-timepicker>
      </label>
    </div>
    <div class="flex gap-2">
      <label class="input-label">
        <input [matDatepicker]="endTimePicker" placeholder="End date:" [(ngModel)]="endDate" name="endDate">
        <mat-datepicker-toggle class="hover:scale-125" [for]="endTimePicker"></mat-datepicker-toggle>
        <mat-datepicker  #endTimePicker></mat-datepicker>
      </label>
      <label class="input-label">
        <input placeholder="End time:" name="endTime" [(ngModel)]="endTime">
        <mat-icon class="hover:cursor-pointer hover:scale-125 hover:bg-base-200" [ngxTimepicker]="endHourPicker" [(ngModel)]="endTime" name="endTimeToggle">access_time</mat-icon>
        <ngx-material-timepicker #endHourPicker>gh</ngx-material-timepicker>
      </label>
    </div>
    <div class="flex w-full items-center justify-center gap-8">
      <div class="flex flex-col">
        <span>Latitude: {{latitude}}</span>
        <span>Longitude: {{longitude}}</span>
      </div>
      <mat-icon class="event-icon" (click)="chooseLocation()">add_location</mat-icon>
    </div>
    <div>
      <textarea class="textarea w-full" placeholder="Event Description" [(ngModel)]="eventData.description" name="description"></textarea>
    </div>
  </form>
  <button class="btn btn-error w-full" [disabled]="myForm.invalid" (click)="onSubmit()">Save</button>
  <button class="btn btn-primary w-full" (click)="cancel()">Cancel</button>

</div>
