<div class="event-creation-modal">
  <h1 class="text-3xl font-bold">Create Event</h1>
  <form #myForm="ngForm" class="create-event-form">
    <div>
      <input class="input w-full" placeholder="Event name:" [(ngModel)]="eventData.name" name="eventName">
    </div>
    <div>
      <input class="input w-full" placeholder="Event address:" [(ngModel)]="eventData.address" name="eventAddress">
    </div>
    <div>
      <label class="input input-bordered flex items-center gap-2 w-full">
        <input [matDatepicker]="startTimePicker" placeholder="Start time:" [(ngModel)]="eventData.startTime" name="startTime">
        <mat-datepicker-toggle [for]="startTimePicker"></mat-datepicker-toggle>
        <mat-datepicker #startTimePicker></mat-datepicker>
      </label>
    </div>
    <div>
      <label class="input input-bordered flex items-center gap-2 w-full">
        <input [matDatepicker]="endTimePicker" placeholder="End time:" [(ngModel)]="eventData.endTime" name="endTime">
        <mat-datepicker-toggle [for]="endTimePicker"></mat-datepicker-toggle>
        <mat-datepicker #endTimePicker></mat-datepicker>
      </label>
    </div>
    <div class="flex">
      <span>Latitude: {{eventData.coordinates?.y ?? "not set"}}</span>
      <span>Longitude: {{eventData.coordinates?.x ?? "not set"}}</span>
      <mat-icon (click)="chooseLocation()">add_location</mat-icon>
    </div>
    <div>
      <textarea class="textarea w-full" placeholder="Event Description" [(ngModel)]="eventData.description" name="description"></textarea>
    </div>
  </form>
  <button class="btn btn-error w-full" [disabled]="myForm.invalid" (click)="onSubmit()">Save</button>
  <button class="btn btn-primary w-full" (click)="cancel()">Cancel</button>

</div>
