<div class="navbar-container">
  <app-search-bar
    [results]="recommendations"
  ></app-search-bar>

  <div *ngIf="isLoggedIn; else loggedOutNavbar" class="navbar-button-container">
    <button class="navbar-button" (click)="createEvent()">
      Create Event
    </button>
    <button class="navbar-button" (click)="createGroup()">
      Create Group
    </button>
    <app-user-icon class="absolute right-[120px]"></app-user-icon>
  </div>
  <ng-template #loggedOutNavbar>
    <div class="navbar-button-container">
      <button class="navbar-button" (click)="createEvent()">
          Create Event
      </button>
      <button class="navbar-button" (click)="createGroup()">
        Create Group
      </button>
      <button class="navbar-button" (click)="login()">Login</button>
      <button class="navbar-button" (click)="register()">Register</button>
    </div>
  </ng-template>
</div>
