.navbar {
  position: fixed;
  z-index: 10;
}

.navbar-button {
  @apply btn flex flex-col w-fit gap-0 text-neutral bg-primary;
  height: 80px;
  line-height: 1rem;
  font-size:1rem;
}

.navbar-input {
  @apply input input-lg input-bordered flex flex-1 items-center gap-2 m-4 font-medium;
}

.navbar-title {
  @apply btn btn-ghost text-4xl font-medium;
}
