<div class="navbar-container">
  <app-search-bar
    [results]="recommendations"
    class="ml-28 mt-8"
  ></app-search-bar>

  <div *ngIf="isLoggedIn; else loggedOutNavbar" class="navbar-button-container">
    <button class="navbar-button" (click)="createEvent()">
      <mat-icon>add</mat-icon>
      Create Event
    </button>
    <button class="navbar-button" (click)="createGroup()">
      <mat-icon>add</mat-icon>
      Create Group
    </button>
    <button class="navbar-button">
      <mat-icon>favorite</mat-icon>
      Liked Events
    </button>
    <button class="navbar-button">
      <mat-icon>mark_email_read</mat-icon>
      My Events
    </button>
    <app-user-icon></app-user-icon>
  </div>
  <ng-template #loggedOutNavbar>
    <div class="navbar-button-container">
      <button class="navbar-button" (click)="createEvent()">
          Create Event
      </button>
      <button class="navbar-button" (click)="createGroup()">
        Create Group
      </button>
      <button class="navbar-button" (click)="login()">Login</button>
      <button class="navbar-button" (click)="register()">Register</button>
    </div>
  </ng-template>

<!--<div class="navbar bg-base-100">-->
<!--  <div class="flex-none">-->
<!--    <h1 class="navbar-title">EventFinder</h1>-->
<!--  </div>-->
<!--  <div class="flex-1">-->
<!--    <label class="navbar-input">-->
<!--      <input type="text" class="grow" placeholder="Search Events" />-->
<!--      <mat-icon>search</mat-icon>-->
<!--    </label>-->
<!--    <label class="navbar-input">-->
<!--      <input type="text" class="grow" placeholder="Search Groups" />-->
<!--      <mat-icon>groups</mat-icon>-->
<!--    </label>-->
<!--  </div>-->

<!--  <div *ngIf="isLoggedIn; else loggedOutNavbar" class="navbar-button-container">-->
<!--    <button class="navbar-button" (click)="createEvent()">-->
<!--      <mat-icon>add</mat-icon>-->
<!--      Create Event-->
<!--    </button>-->
<!--    <button class="navbar-button">-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--      Liked Events-->
<!--    </button>-->
<!--    <button class="navbar-button">-->
<!--      <mat-icon>mark_email_read</mat-icon>-->
<!--      My Events-->
<!--    </button>-->
<!--    <app-user-icon></app-user-icon>-->
<!--  </div>-->
<!--  <ng-template #loggedOutNavbar>-->
<!--    <div class="navbar-button-container">-->
<!--      <button class="navbar-button" (click)="createEvent()">-->
<!--          Create Event-->
<!--      </button>-->
<!--      <button class="navbar-button" (click)="login()">Login</button>-->
<!--      <button class="navbar-button" (click)="register()">Register</button>-->
<!--    </div>-->
<!--  </ng-template>-->
</div>
