.navbar-container {
  @apply fixed flex w-full h-16 bg-transparent z-10;
}

.navbar-button-container {
  @apply flex gap-4 h-full w-fit items-center justify-center;
}

.navbar-button {
  @apply btn btn-outline flex flex-col w-fit;
  height: 60px;
  line-height: 1rem;
  font-size:1rem;
}

.navbar-title {
  @apply btn btn-ghost text-4xl font-medium;
}
