.card {
    height: 200px;
    width: 400px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

h1 {
    font-weight: 700;
    font-size: 20px;
}
