<div class="login-modal">
  <h1 class="font-bold text-4xl">{{formTitle}}</h1>
  <form #myForm="ngForm" class="login-form" (ngSubmit)="onFormSubmission(myForm)">
    <div *ngIf="isRegistration">
      <div class="label"><span class="input-label-above">Email</span></div>
      <label class="input-label">
        <mat-icon>email</mat-icon>
        <input
          type="email"
          class="grow"
          id="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Enter email"
          required
        />
      </label>
      <div
        [hidden]="!myForm.controls['email']?.touched || !myForm.controls['email']?.invalid"
        class="text-red-600">
        Email is required.
      </div>
    </div>

    <div>
      <div class="label"><span class="input-label-above">Username</span></div>
      <label class="input-label">
        <mat-icon>person</mat-icon>
        <input
          type="text"
          class="grow"
          id="username"
          name="username"
          [(ngModel)]="username"
          placeholder="Enter username"
          required
        />
      </label>
      <div
        [hidden]="!myForm.controls['username']?.touched || !myForm.controls['username']?.invalid"
        class="text-red-600">
        Please enter a valid username.
      </div>
    </div>

    <div>
      <div class="label"><span class="input-label-above">Password</span></div>
      <label class="input-label">
        <mat-icon>key</mat-icon>
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          class="grow"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Enter password"
          required
        />
        <div (click)="togglePasswordVisibility()" class="p-2 hover:bg-gray-400 cursor-pointer">
          <mat-icon>remove_red_eye</mat-icon>
        </div>
      </label>
      <div
        [hidden]="!myForm.controls['password']?.touched || !myForm.controls['password']?.invalid"
        class="text-red-600">
        Password is required.
      </div>
    </div>

    <button
      type="submit"
      class="login-button btn-primary"
      [disabled]="myForm.invalid"
    >
      Submit
    </button>
    <button class="login-button btn-error" (click)="onCancel()">Cancel</button>

    <div *ngIf="isLogin">Not a member yet? <a class="link link-primary" (click)="toggleFormState()">Register</a></div>
    <div *ngIf="isRegistration">Already a member? <a class="link link-primary" (click)="toggleFormState()">Login</a></div>
  </form>
</div>
