<div class="btn-container">
    <div class="group-btn" *ngIf="infoType == 'Group'; else showMembershipIcon">
        <button class="btn bg-primary" (click)="toggleSidebar(SidebarType.Group)">
            <i class="fa-solid fa-magnifying-glass text-neutral"></i>
        </button>
    </div>

    <ng-template #showMembershipIcon>
        <button class="btn text-center text-neutral" [style.backgroundColor]="group.colour" (click)="toggleSidebar(SidebarType.Membership)">
            <div *ngIf="acronym != ''; else showIcon">
                <h1>{{ acronym }}</h1>
            </div>

            <ng-template #showIcon>
                <i class="fa-solid fa-people-group text-neutral"></i>
            </ng-template>
            
        </button>
    </ng-template>
</div>
