.card {
  width: 400px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.event-name {
  font-weight: 700;
  font-size: 20px;
}

.event-duration {
  @apply whitespace-normal;
  font-weight: 500;
  font-size: 16px;
}

.event-location,
.event-owner {
  font-size: 14px;
  opacity: 80%;
}

h1,
p {
  margin: 5px 0px 0px;
}

.event-owner {
  margin-top: 0px;
}

.temp-img {
  height: 150px;
  width: 370px;
  background-color: black;
  border-radius: 10px;
}

.event-button {
  @apply btn text-lg font-bold;
}
