<div class="info-sidebar scrollable">

    <div class="friendship-info-card-container" *ngIf="infoType == 'Friends'">
        <div class="friends-header">
           <h1>Friends</h1> 
           <button (click)="addFriend()"><i class="fa-solid fa-plus fa-2x"></i></button>
        </div>
        
        <div class="info-card" *ngFor="let friend of acceptedFriendships">
            <app-friend-info [friend]="friend"></app-friend-info>
        </div>
        
        <div class="pending" *ngIf="shouldShowPendingFriendships">
           <h1>Pending</h1>
            <div class="info-card" *ngFor="let friend of pendingFriendships">
                <app-friend-info [friend]="friend"></app-friend-info>
            </div> 
        </div>
        
        <div class="blocked" *ngIf="shouldShowBlockedFriendships">
           <h1>Blocked</h1>
            <div class="info-card" *ngFor="let friend of blockedFriendships">
                <app-friend-info [friend]="friend"></app-friend-info>
            </div> 
        </div>
    </div>


    <div class="info-card-container" *ngIf="infoType == 'Browse'">
        <div class="events-header">
            <h1>Events</h1>
            <button (click)="addEvent()"><i class="fa-solid fa-plus fa-2x"></i></button>
        </div>
        
        <div class="info-card" *ngFor="let event of events">
            <app-event-info [event]="event"></app-event-info>
        </div>
    </div>


    <div class="group-membership-card-container" *ngIf="infoType == 'Membership'">
        <h1>Group</h1>
        <app-membership-info [groupMembership]="groupMembership"></app-membership-info>
    </div>

    <div class="group-card-container" *ngIf="infoType == 'Group'">
        <div class="groups-header">
            <h1>Groups</h1>
            <button (click)="addGroup()"><i class="fa-solid fa-plus fa-2x"></i></button>
        </div>
        <div class="info-card" *ngFor="let group of groups">
            <app-group-info [group]="group"></app-group-info>
        </div>
    </div>
</div>
